@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=UnifrakturMaguntia&display=swap');
@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

.logo-header{
    font-family: UnifrakturMaguntia;
}

.emphasis-text{
    font-family: 'Almendra';
    font-weight: bold;
}

.body-text{
    font-family: 'Cormorant Garamond';
    /* font-size: 24px; */
}

.landing-page-bg{
    background-image: url('/src/assets/mainbg.webp');
    background-size: cover;
    background-position: center;
    background-color: color-mix(in oklab, var(--color-black) 70%, transparent);
    background-blend-mode: overlay;
}

.create-brews-page-bg{
    background-image: url('/src/assets/brews.png');
    background-size: cover;
    background-position: center;
    background-color: color-mix(in oklab, var(--color-black) 70%, transparent);
    background-blend-mode: overlay;
}

label {
    font-weight: bold;
}


.login-page-bg{
    background-image: url('/src/assets/tavern.webp');
    background-size: cover;
    background-position: center;
    background-color: color-mix(in oklab, var(--color-black) 70%, transparent);
    background-blend-mode: overlay;
}

.forgot-password-page-bg{
    background-image: url('/src/assets/library_close.webp');
    background-size: cover;
    background-position: center;
    background-color: color-mix(in oklab, var(--color-black) 70%, transparent);
    background-blend-mode: overlay;
}

.sign-up-bg{
    background-image: url('/src/assets/library.webp');
    background-size: cover;
    background-position: center;
    background-color: color-mix(in oklab, var(--color-black) 70%, transparent);
    background-blend-mode: overlay;
}

.update-profile-bg{
    background-image: url('/src/assets/hom.webp');
    background-size: cover;
    background-position: center;
    background-color: color-mix(in oklab, var(--color-black) 70%, transparent);
    background-blend-mode: overlay;
}